.*.d
.*.dd
*.a
*.la
*.lo
*.oo
*.so
*.o
*.pyc
*.dll
.deps
.dirstamp
.libs
.*.swp

Makefile
Makefile.in
cscope.out
tags

.clang_complete
.ycm_extra_conf.py

/aclocal.m4
/autom4te*.cache
/compile
/confdefs.h
/config.h*
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/build-stamp
/configure-stamp
/m4
/config.guess.dh-orig
/config.sub.dh-orig

/example
/example.exe

/test-driver

/build/

debian/*.debhelper.*

!/tests/test_*.c
!/tests/test_client
!/m4/.gitkeep

*~
*#*#
.#*
.DS_Store
.vagrant
Vagrantfile*
core.[0-9]*
